html {
  font-family: 'PF BeauSans Pro';
  font-size: 16px;
  line-height: 24px;
  background: $bg2-color;
  color: $text-color;
}
.container {
  max-width: 1288px;
  width: inherit;
  padding: 0 20px;
  margin: 0 auto;
}
.only-desktop {
  @media (max-width: 980px) {
    display: none !important;
  }
}
.only-mobile {
  @media (min-width: 981px) {
    display: none !important;
  }
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.content {
  flex: 1;
  width: 100%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: $text-color;
}
.sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text2-color;
  margin-top: 7px;
}
.text-dashboard {
  font-family: 'PF BeauSans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $text2-color;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;

  @media (max-width: 980px) {
    display: flex;
    flex-direction: column;
  }
}
.dashboard-content {
  padding: 55px;
  overflow-x: hidden;
  flex: 1;

  @media (max-width: 980px) {
    padding: 30px 20px;
  }
}
.conn__buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
  margin-top: 24px;
}