$bg-color: #0B0B0B;
$bg2-color: #121212;
$bg3-color: #302F2F;
$red-color: #E63739;
$green-color: #009645;
$text-color: #FFFFFF;
$text2-color: #A7A7A7;
$text3-color: #E5E5E5;
$text4-color: #FAFAFA;
$text5-color: #FEFEFE;
$text6-color: #CFD0D0;